<div class="main-container">
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li><a href="#" class="active"><div class="rail-bubble">1</div> Collaborators selection</a></li><div class="line-left-active"></div>
        <li><a href="#" class="inactive"><div class="rail-bubble-disabled">2</div> SMS creation</a></li>
        <div class="line-right-inactive"></div>
        <li ><a href="#" class="inactive"><div class="rail-bubble-disabled">3</div> Dashboard</a></li>
      </ul>
    </div>
  </div>
</div>

