 <div class="main-container">
    <div class="nav-show">
      <ul class="nav nav-pills">
        <li role="presentation" class="active navh"><a href="#">1. SMS creation</a></li>
        <li role="presentation" class="disabled navh"><a href="#">2. Employee selection</a></li>
        <li role="presentation" class="disabled navh"><a href="#">3. Alert dashboard</a></li>
      </ul>
    </div>
  </div>
