<div class="main-container">
  <div class="row">
    <div class="col-xs-12 vertical-alignment">
      <ul id="ul-flex">
        <li id="li-inline"><a href="#" class="active"><div class="rail-bubble-active-1">1</div> <p class="one">Collaborators selection</p></a></li><div class="line-left-active"></div>
        <li id="li-inline"><a href="#" class="inactive"><div class="rail-bubble-disabled-2">2</div> <p class="two">SMS creation</p></a></li>
        <div class="line-right-inactive"></div>
        <li id="li-inline" ><a href="#" class="inactive"><div class="rail-bubble-disabled-3">3</div> <p class="three">Dashboard</p></a></li>
      </ul>
    </div>
  </div>
</div>

