 <div class="main-container">
    <div class="nav-show">
      <ul class="nav nav-pills">
        <li role="presentation" class="active navh"><a href="#">1. Collaborators selection</a></li>
        <li role="presentation" class="disabled navh"><a href="#">2. SMS creation</a></li>
        <li role="presentation" class="disabled navh"><a href="#">3. Dashboard</a></li>
      </ul>
    </div>
  </div>
