
<div class="container">
  <div class="main-container">
    <div class="card-show">
      <h1>Alerts index</h1>
      <% @events.each do |c| %>
      <div class="archive">
        <div class="archive-body">
          <p><strong><%= c.name %></strong></p>
          <p>Created on: <%= c.created_at %></p>
          <p>Status:
            <% if c.end_date == nil %>
              ongoing
            <% else %>
              closed on <%= c.end_date %>
            <% end %>
          </p>
        </div>
        <div class="archive-status">
          <%= link_to event_path(c) do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
