.btn-main {
  color: white;
  padding: 10px 40px;
  border-radius: 100px;
  opacity: 0.9;
  background-color: black;
}
.btn-main:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}
.btn-edit {
  color: white;
  border: 1px solid #FE5F55;
  padding: 10px 10px;
  border-radius: 100px;
  background-color: #FE5F55;
  margin-bottom: 10px;
}
.btn-edit:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  background: darken(#FE5F55, 10%);
}
.btn-safe {
  color: white;
  border: 1px solid #2EB872;
  padding: 10px 10px;
  border-radius: 100px;
  opacity: 0.8;
  background-color: #2EB872;
  margin-bottom: 10px;
  width: 100px;
}
.btn-safe:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  background-color: #2EB872;
  text-decoration: none;
}
.btn-pending {
  color: white;
  border: 1px solid gray;
  padding: 10px 10px;
  border-radius: 100px;
  opacity: 0.8;
  background-color: gray;
  margin-bottom: 10px;
  width: 100px;
}
.btn-pending:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  border: 1px solid gray;
  background-color: gray;
  text-decoration: none;
}
.btn-suspect {
  color: white;
  border: 1px solid #E67E22;
  padding: 10px 10px;
  border-radius: 100px;
  opacity: 0.8;
  background-color: #E67E22;
  margin-bottom: 10px;
  width: 100px;
}
.btn-suspect:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  background-color: #E67E22;
  text-decoration: none;
}
