.btn-main {
  color: white;
  border: 1px solid black;
  padding: 10px 40px;
  border-radius: 5px;
  opacity: 0.9;
  background-color: black;
}
.btn-main:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  border: 1px solid black;
}
.btn-edit {
  color: white;
  border: 1px solid #FE5F55;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #FE5F55;
  margin-bottom: 10px;
}
.btn-edit:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  border: 1px solid red;
  background: darken(#FE5F55, 10%);
}
.btn-safe {
  color: white;
  border: 1px solid #2EB872;
  padding: 10px 10px;
  border-radius: 5px;
  opacity: 0.8;
  background-color: #2EB872;
  margin-bottom: 10px;
  width: 100px;
}
.btn-safe:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  border: 1px solid #2EB872;
  background-color: #2EB872;
}

.btn-pending {
  color: white;
  border: 1px solid orange;
  padding: 10px 10px;
  border-radius: 5px;
  opacity: 0.8;
  background-color: orange;
  margin-bottom: 10px;
  width: 100px;
}
.btn-pending:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  border: 1px solid orange;
  background-color: orange;
}
.btn-suspect {
  color: white;
  border: 1px solid #3176A9;
  padding: 10px 10px;
  border-radius: 5px;
  opacity: 0.8;
  background-color: #3176A9;
  margin-bottom: 10px;
  width: 100px;
}
.btn-suspect:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  border: 1px solid #3176A9;
  background-color: #3176A9;
}
