.table-dark {
  color: black;
  background-color: white;
  border-color: black;
}
.center-headers {
  text-align: center;
}
.bg-success {
  background-color: #17b978!important;
}
.bg-warning {
  background-color: #E67E22!important;
}
.bg-suspect {
  background-color: #0278AE!important;
}
.bg-danger {
  background-color: #E43A19!important;
}
.actions-icons {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  color: black;
}
.actions-icons :hover {
  text-decoration: none;
}
.table-space {
  margin-top: 20px;
}
.input-search {
  margin: 0px auto;
  width: 300px;
  text-align: center;
  display: block;
}
.bubble-safe {
  background-color: #17b978;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0px auto;
  transition: all 1s ease-out;
}
.bubble-pending {
  background-color: #E67E22;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0px auto;
  transition: all 1s ease-out;
}


.bubble-suspect {
  background-color: #0278AE;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0px auto;
  transition: all 1s ease-out;
}
.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px;
  color:#ccc;
}


